---
{% if os_project.istio.ingress.ott is defined %}
# Добавить в проект если нужен ОТТ на ingress
apiVersion: v1
kind: ConfigMap
metadata:
  name: cm-ingress-ott-settings
data:
  OTT_AUTHZ_REALM: mmt
  OTT_AUTHZ_VERSION: '1.0'
  OTT_CERTSTORE_PATH: /mnt/secrets/{{ os_project.istio.ingress.ott.key_store | basename }}
  OTT_CERTSTORE_TYPE: PKCS12
  OTT_CLIENT_CERT_ALIAS: {{ os_project.istio.ingress.ott.OTT_CLIENT_CERT_ALIAS | default(os_project.istio.ingress.ott.OTT_MODULE_ID) }}
  OTT_CLIENT_MMT-COMPATIBILITY-MODE: 'false'
  OTT_GRPC_PORT: /mnt/ott-uds-socket/ott.socket
  OTT_MODULE_ID: {{ os_project.istio.ingress.ott.OTT_MODULE_ID }}
  OTT_OPER_MODE: validate
  OTT_SERVICE_CERT_ALIAS: ott-service
  OTT_SERVICE_HOSTS: {% for host in int.ott.hosts %}{{ host }}:{{ int.ott.port | default('8080') }}{% if not loop.last %},{% endif %}
{% endfor %}

  OTT_SERVICE_SI_HOSTS: {% for host in int.ott.hosts %}{{ host }}:{{ int.ott.port | default('8080') }}{% if not loop.last %},{% endif %}
{% endfor %}

  OTT_SERVICE_STAND: main
  OTT_SERVICE_URL: {{ int.ott.protocol | default('https') }}://{{ int.ott.hosts[0] }}:{{ int.ott.port | default('8080') }}/ott-service/rest/token
  OTT_TRUST_STORE_PATH: /mnt/secrets/{{ os_project.istio.ingress.ott.trust_store | basename }}
{% endif %}
