---
# mTLS ingress - app
apiVersion: networking.istio.io/v1alpha3
kind: DestinationRule
metadata:
  name: dr-{{ openshift.env }}-{{ os_project.name }}-ingress
spec:
  exportTo:
    - .
  host: svc-app-{{ openshift.env }}-{{ os_project.name }}
  subsets:
  - name: app-{{ openshift.env }}-{{ os_project.name }}-{{ canary_suffix }}
    labels:
      version: {{ version | default('v1') }}
    trafficPolicy:
{% if os_project.type is defined and os_project.type == "bps" %}
      connectionPool:
        http:
          http1MaxPendingRequests: {{ os_project.istio.ingress.rate_limits.http1_max_pending_requests | default ('1') }}
          http2MaxRequests: {{ os_project.istio.ingress.rate_limits.http2_max_requests | default ('1') }}
          maxRequestsPerConnection: {{ os_project.istio.ingress.rate_limits.max_requests_per_connection | default ('1') }}
        tcp:
          maxConnections: {{ os_project.istio.ingress.rate_limits.max_connections | default ('1') }}
      loadBalancer:
        simple: {{ os_project.istio.ingress.rate_limits.load_balancer | default ('ROUND_ROBIN') }}
{% endif %}
# При необходимости добавить балансировку по куки
# Для примера эта балансировка нужна на БПС Подтверждение подписи и БПС Профиль ЮЛ
#    loadBalancer:
#      consistentHash:
#        httpCookie:
#          name: UFS-SESSION
#          ttl: 0s
      tls:
        mode: {{ os_project.istio.istio_mtls | default ('ISTIO_MUTUAL') }}
