---
{% if os_project.istio.ingress.ott is defined %}
# Для перенаправления трафика на порт ingress с ОТТ
apiVersion: networking.istio.io/v1alpha3
kind: EnvoyFilter
metadata:
  name: ott-ingress-auth-filter
spec:
  configPatches:
    - applyTo: HTTP_FILTER
      patch:
        operation: INSERT_BEFORE
        value:
          name: envoy.ext_authz
          config:
            failure_mode_allow: false
            grpc_service:
              google_grpc:
                stat_prefix: ext_authz
                target_uri: 'unix:/mnt/ott-uds-socket/ott.socket'
              timeout: 2s
            with_request_body:
              allow_partial_message: true
              max_request_bytes: 1600000
      match:
        listener:
          filterChain:
            filter:
              name: envoy.http_connection_manager
          # Порт, который указан в gateway-ingress
          portNumber: {{ os_project.istio.ingress.ott.route.port }}
        context: GATEWAY
  workloadSelector:
    labels:
      # должно совпадать с label.app deployment ingress
      app: ingressgateway-{{ openshift.env }}-{{ os_project.name }}-{{ suffix_app_label }}
{% endif %}

{% if os_project.istio.ingress.ott_geo is defined %}
# Для перенаправления трафика на порт ingress с ОТТ
{% if os_project.istio.ingress.ott is defined %}
---
{% endif %}
apiVersion: networking.istio.io/v1alpha3
kind: EnvoyFilter
metadata:
  name: ott-geo-ingress-auth-filter
spec:
  configPatches:
    - applyTo: HTTP_FILTER
      patch:
        operation: INSERT_BEFORE
        value:
          name: envoy.ext_authz
          config:
            failure_mode_allow: false
            grpc_service:
              google_grpc:
                stat_prefix: ext_authz
                target_uri: 'unix:/mnt/ott-uds-socket/ott.socket'
              timeout: 2s
            with_request_body:
              allow_partial_message: true
              max_request_bytes: 1600000
      match:
        listener:
          filterChain:
            filter:
              name: envoy.http_connection_manager
          # Порт, который указан в gateway-inrgess
          portNumber: {{ os_project.istio.ingress.ott_geo.route.port }}
        context: GATEWAY
  workloadSelector:
    labels:
      # должно совпадать с label.app deployment ingress
      app: ingressgateway-{{ openshift.env }}-{{ os_project.name }}-{{ suffix_app_label }}
{% endif %}
