---
apiVersion: v1
kind: Service
metadata:
  labels:
    app: istio-ingressgateway-{{ openshift.env }}-{{ os_project.name }}-{{ suffix_app_label }}
    chart: gateways
    heritage: Tiller
    istio: ingressgateway-{{ openshift.env }}-{{ os_project.name }}-{{ suffix_istio_label }}
    release: istio
  name: istio-ingressgateway-{{ openshift.env }}-{{ os_project.name }}
spec:
  ports:
{% if (os_project.istio.ingress.mtls.route is defined) %}
    - name: https-{{ os_project.istio.ingress.mtls.route.port }}
      protocol: TCP
      port: {{ os_project.istio.ingress.mtls.route.port }}
      targetPort: {{ os_project.istio.ingress.mtls.route.port }}
{% endif %}
{% if (os_project.istio.ingress.mtls_geo.route is defined) %}
    - name: https-{{ os_project.istio.ingress.mtls_geo.route.port }}
      protocol: TCP
      port: {{ os_project.istio.ingress.mtls_geo.route.port }}
      targetPort: {{ os_project.istio.ingress.mtls_geo.route.port }}
{% endif %}
{% if (os_project.istio.ingress.ott is defined) %}
    - name: https-{{ os_project.istio.ingress.ott.route.port }}
      protocol: TCP
      port: {{ os_project.istio.ingress.ott.route.port }}
      targetPort: {{ os_project.istio.ingress.ott.route.port }}
{% endif %}
{% if (os_project.istio.ingress.ott_geo is defined) %}
    - name: https-{{ os_project.istio.ingress.ott_geo.route.port }}
      protocol: TCP
      port: {{ os_project.istio.ingress.ott_geo.route.port }}
      targetPort: {{ os_project.istio.ingress.ott_geo.route.port }}
{% endif %}
{% if (os_project.istio.ingress.healthcheck is defined) %}
    - name: https-{{ os_project.istio.ingress.healthcheck.route.port }}
      protocol: TCP
      port: {{ os_project.istio.ingress.healthcheck.route.port }}
      targetPort: {{ os_project.istio.ingress.healthcheck.route.port }}
{% endif %}
  selector:
    app: ingressgateway-{{ openshift.env }}-{{ os_project.name }}-{{ suffix_app_label }}
    istio: ingressgateway-{{ openshift.env }}-{{ os_project.name }}-{{ suffix_istio_label }}
    release: istio
  sessionAffinity: None
  type: ClusterIP
