---
apiVersion: networking.istio.io/v1alpha3
kind: VirtualService
metadata:
  name: vs-{{ openshift.env }}-{{ os_project.name }}-ingress
spec:
  exportTo:
  - .
  gateways:
  - gw-ingress-{{ openshift.env }}-{{ os_project.name }}
  hosts:
{% if os_project.istio.ingress.healthcheck is defined %}
  - "{{ os_project.istio.ingress.healthcheck.route.host }}"
{% endif %}
{% if os_project.istio.ingress.ott is defined %}
  - "{{ os_project.istio.ingress.ott.route.host }}"
{% endif %}
{% if os_project.istio.ingress.ott_geo is defined %}
  - "{{ os_project.istio.ingress.ott_geo.route.host }}"
{% endif %}
{% if os_project.istio.ingress.mtls is defined %}
  - "{{ os_project.istio.ingress.mtls.route.host }}"
{% endif %}
{% if os_project.istio.ingress.mtls_geo is defined %}
  - "{{ os_project.istio.ingress.mtls_geo.route.host }}"
{% endif %}
  http:
    - route:
        - destination:
            host: svc-app-{{ openshift.env }}-{{ os_project.name }}
            port:
              number: 8080
            subset: app-{{ openshift.env }}-{{ os_project.name }}-{{ canary_suffix }}
          weight: 100
