---
{% for integration_entry in integration_entries | flatten %}
{% set dummy_hostname = ( integration_entry.name +'.' +
        openshift.env + '.' + os_project.name + '.dummy') %}
apiVersion: networking.istio.io/v1alpha3
kind: VirtualService
metadata:
  name: vs-{{ openshift.env }}-{{ os_project.name }}-{{ integration_entry.name }}
spec:
  exportTo:
  - .
  gateways:
  - gw-egress-{{ openshift.env }}-{{ os_project.name }}
  - mesh
  hosts:

{% if integration_entry.host is defined or ( integration_entry.protocol | default('HTTP') ) == 'TCP' %}
  - {{ integration_entry.host | default(dummy_hostname) }}
{% endif %}

{% if integration_entry.ip is defined %}
  - {{ integration_entry.ip }}
{% endif %}

{% if ( integration_entry.protocol | default('HTTP') ) == 'TCP' %}
  tcp:
{% else %}
  http:
{% endif %}

  - match:
    - gateways:
      - mesh

{% if ( integration_entry.protocol | default('HTTP') ) != 'TCP' %}
      port: {{ integration_entry.istio_mesh_port | default ('80') }}
{% elif ( integration_entry.protocol | default('HTTP') ) == 'TCP' %}
      port: {{ integration_entry.port }}
{% endif %}

    rewrite:
{# TCP должен быть всегда STATIC #}
{% if ( (integration_entry.resolution | default('DNS')) == 'STATIC' or
           ( integration_entry.protocol | default('HTTP') ) == 'TCP' ) %}
      authority: {{ integration_entry.ip }}
{% else %}
      authority: {{ integration_entry.host | default(dummy_hostname) }}
{% endif %}

    route:
    - destination:
        host: istio-egressgateway-{{ openshift.env }}-{{ os_project.name }}
        port:

{% if (integration_entry.protocol | default('HTTP')) != 'TCP' %}
{% if integration_entry.ott is sameas true %}
          number: {{ os_project.istio.egress.ott.port }}
{% elif integration_entry.mtls is sameas true %}
          number: {{ os_project.istio.egress.mtls.port }}
{% else %}
          number: {{ os_project.istio.egress.http.port }}
{% endif %}
{% elif  integration_entry.protocol == 'TCP' %}
          number: {{ integration_entry.egress_port }}
{% endif %}

  - match:
    - gateways:
      - gw-egress-{{ openshift.env }}-{{ os_project.name }}

{% if (integration_entry.protocol | default('HTTP')) != 'TCP' %}
{% if integration_entry.ott is sameas true %}
      port: {{ os_project.istio.egress.ott.port }}
{% elif integration_entry.mtls is sameas true %}
      port: {{ os_project.istio.egress.mtls.port }}
{% else %}
      port: {{ os_project.istio.egress.http.port }}
{% endif %}
{% elif integration_entry.protocol == 'TCP' %}
      port: {{ integration_entry.egress_port }}
{% endif %}

    route:
    - destination:
        host: {{ integration_entry.host | default(dummy_hostname) }}
        port:
          number: {{ integration_entry.port }}
      weight: 100
{% if not loop.last %}
---
{% endif %}
{% endfor %}
