---
{% for integration_entry in integration_entries | flatten %}
{% set dummy_hostname = ( integration_entry.name +'.' +
        openshift.env + '.' + os_project.name + '.dummy') %}
apiVersion: networking.istio.io/v1alpha3
kind: ServiceEntry
metadata:
  name: se-{{ openshift.env }}-{{ os_project.name }}-{{ integration_entry.name }}
  labels:
    app: {{ openshift.env }}-{{ os_project.name }}-{{ suffix_app_label }}
spec:
  exportTo:
    - .
  hosts:
    - {{ integration_entry.host  | default(dummy_hostname) }}
{% if integration_entry.ip is defined %}
  addresses:
    - {{ integration_entry.ip }}
  endpoints:
    - address: {{ integration_entry.ip }}
{% endif %}
  location: MESH_EXTERNAL
  ports:
  - name: {{ integration_entry.protocol | default('HTTP') | lower }}-{{ integration_entry.port }}
    number: {{ integration_entry.port }}
{# may be TCP, HTTP, TLS, etc.    HTTP from pod, TLS to dst host #}
    protocol: {{ integration_entry.protocol | default('HTTP') | upper }}

{# {% if (integration_entry.resolution | default('DNS')) != 'STATIC' %} # если STATIC то не работает EGRESS! #}
{# либо tcp со статикой, либо все остальное #}
{% if ( integration_entry.protocol | default('HTTP') )  != 'TCP' %}
{% if (integration_entry.port | string ) != (integration_entry.istio_mesh_port | default ('80') | string ) %}
  - name: http-{{ integration_entry.istio_mesh_port | default ('80') }} #это порт mesh! его менять нельзя! если изменить этот порт то egress работать не будет!
    number: {{ integration_entry.istio_mesh_port | default ('80') }}
    protocol: HTTP
  resolution: {{ integration_entry.resolution | default('DNS') }}
{% endif %}
{% elif ( integration_entry.protocol | default('HTTP') ) == 'TCP' %}
  resolution: STATIC
{% endif %}

{% if not loop.last %}
---
{% endif %}
{% endfor %}
